:root {
    --chevron-right: url("data:image/svg+xml,%3Csvg width='50px' height='50px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M9 6L15 12L9 18M9 12H9.01' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    --chevron-left: url("data:image/svg+xml,%3Csvg width='50px' height='50px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M15 6L9 12L15 18M15 12H15.01' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.slider {
    display: flex;
    flex-direction: row;
    float: left;
    position: relative;
    overflow: hidden;

    .mouse {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2rem;
        border: 3px solid white;
        height: 3rem;
        width: 30px;
        z-index: 2;
        border-radius: 15px;
        backdrop-filter: blur(10px);
        cursor: pointer;

        animation: move-mouse 1s ease-in both infinite;

        &:after {
            content: '';
            display: block;
            position: relative;
            left: 50%;
            top: 10%;
            transform: translateX(-50%);
            border-radius: 50%;
            width: 8px;
            height: 8px;
            background: white;

            animation: move-scroll 1.5s infinite both;
        }
    }
}


@keyframes move-mouse {
    50% {
        opacity: 0.5;
    }
}

@keyframes move-scroll {
    75% {
        top: 50%
    }
}

@media (max-width: 991px) {
    #carouselMobile {
        position: relative;
        height: fit-content;
        aspect-ratio: 1000/667;
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }

    .slider {
        margin: 0 20px;
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        box-shadow: 0px 0px 10px #a9a9a9;
    }
}


@media (min-width: 992px) {
    .slider {
        width: 100%;
        height: 100dvh;
        align-items: center;
    }
}

.slider img {
    margin-right: -100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    z-index: 0;
    object-fit: cover;
    transition: opacity .75s ease-out;
}

.slider-img.active {
    /*transition: opacity .75s cubic-bezier(1, 0.5, 0.3, 1);*/
    display: block;
    z-index: 1;
}

.slider-control {
    z-index: 1;
    height: 70%;
    /*width: 30px;*/
    width: 40%;
    position: absolute;
    background: transparent;
    border: none;

    /*&::before {*/
    /*    font-size: 40px;*/
    /*    color: white;*/
    /*    font-weight: bold;*/
    /*}*/
}

.slider-control i {
    transition: .3s .75s cubic-bezier(1, 0.5, 0.3, 1);
}

.slider-control:hover i {
    transform: scale(1.4);
}

#carouselMobile {
    .prev {
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        padding-left: 20px;
        text-align: left;

        &:before {
            content: var(--chevron-left);
            position: relative;
            display: block;
            left: -1.5rem;
            height: fit-content;
        }
    }

    .next {
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        padding-right: 20px;
        text-align: right;

        &:after {
            content: var(--chevron-right);
            position: relative;
            display: block;
            right: -1.5rem;
            height: fit-content;
        }
    }
}