:root {
    --chevron-up: url("data:image/svg+xml,%3Csvg width='25px' height='25px' viewBox='0 0 24.00 24.00' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M6 15L12 9L18 15' stroke='%23000000' stroke-width='2.4' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    --chevron-down: url("data:image/svg+xml,%3Csvg width='25px' height='25px' viewBox='0 0 24.00 24.00' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%23000000' stroke-width='2.4' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}


section#FAQ {
    position: relative;
    display: inline-block;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 1.1px;
}

section#FAQ li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid #dde1e5;

    animation: fade-in both linear;

    view-timeline-name: --fade-in-li;
    animation-timeline: --fade-in-li;
    animation-range: 0% 25%;
}

section#FAQ ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1.head-faq {
    /* border: 1px solid red; */
    margin: 1rem 0;
    text-align: center;
    padding: 0.5rem;
    font-size: clamp(1.25rem, 2vw, 1.75rem);
    border-radius: 0.5rem;
    background-color: #97cae8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;

    &:before {
        width: 25px;
        height: 25px;
        display: inline-block;
        position: relative;
        margin-right: .5rem;
        content: url("data:image/svg+xml,%3Csvg width='25px' height='25px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='%23000000' stroke-width='0.00024000000000000003'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round' stroke='%23CCCCCC' stroke-width='0.192'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M12 3C7.04 3 3 7.04 3 12C3 16.96 7.04 21 12 21C16.96 21 21 16.96 21 12C21 7.04 16.96 3 12 3ZM12 19.5C7.86 19.5 4.5 16.14 4.5 12C4.5 7.86 7.86 4.5 12 4.5C16.14 4.5 19.5 7.86 19.5 12C19.5 16.14 16.14 19.5 12 19.5ZM14.3 7.7C14.91 8.31 15.25 9.13 15.25 10C15.25 10.87 14.91 11.68 14.3 12.3C13.87 12.73 13.33 13.03 12.75 13.16V13.5C12.75 13.91 12.41 14.25 12 14.25C11.59 14.25 11.25 13.91 11.25 13.5V12.5C11.25 12.09 11.59 11.75 12 11.75C12.47 11.75 12.91 11.57 13.24 11.24C13.57 10.91 13.75 10.47 13.75 10C13.75 9.53 13.57 9.09 13.24 8.76C12.58 8.1 11.43 8.1 10.77 8.76C10.44 9.09 10.26 9.53 10.26 10C10.26 10.41 9.92 10.75 9.51 10.75C9.1 10.75 8.76 10.41 8.76 10C8.76 9.13 9.1 8.32 9.71 7.7C10.94 6.47 13.08 6.47 14.31 7.7H14.3ZM13 16.25C13 16.8 12.55 17.25 12 17.25C11.45 17.25 11 16.8 11 16.25C11 15.7 11.45 15.25 12 15.25C12.55 15.25 13 15.7 13 16.25Z' fill='%23000000'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    }
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    padding: .5rem 25px .5rem .5rem;
    cursor: pointer;
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-wrap: pretty;

    &:after {
        content: var(--chevron-down);
        display: block;
        position: absolute;
        right: 0;
    }

    &.bold:after {
        content: var(--chevron-up);
        display: block;
        position: absolute;
        right: 0;
    }
}


.answer {
    opacity: 0;
    transform-origin: top;
    height: 0;
    transform: scaleY(0);
}

.answer.show {
    opacity: 1;
    margin-bottom: .5rem;
    padding: .5rem;
    height: fit-content;
    transform: scaleY(1);
    transition: transform .3s ease, opacity .6s;
    font-size: clamp(0.75rem, 2vw, 1.25rem);
    letter-spacing: .02em;
    text-wrap: pretty;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px;
    border-radius: 10px;

}

.card-body h3 {
    letter-spacing: 0.02em;
    font-size: calc(0.9rem + 0.3vw);
    font-weight: normal !important;
}

.list-unstyled {
    font-size: calc(0.9rem + 0.3vw) !important;
}