:root {
    --phone: url("data:image/svg+xml,%3Csvg width='25px' height='25px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M14 2C14 2 16.2 2.2 19 5C21.8 7.8 22 10 22 10' stroke='%231C274C' stroke-width='1.5' stroke-linecap='round'%3E%3C/path%3E%3Cpath d='M14.207 5.53564C14.207 5.53564 15.197 5.81849 16.6819 7.30341C18.1668 8.78834 18.4497 9.77829 18.4497 9.77829' stroke='%231C274C' stroke-width='1.5' stroke-linecap='round'%3E%3C/path%3E%3Cpath d='M4.00655 7.93309C3.93421 9.84122 4.41713 13.0817 7.6677 16.3323C8.45191 17.1165 9.23553 17.7396 10 18.2327M5.53781 4.93723C6.93076 3.54428 9.15317 3.73144 10.0376 5.31617L10.6866 6.4791C11.2723 7.52858 11.0372 8.90532 10.1147 9.8278C10.1147 9.8278 10.1147 9.8278 10.1147 9.8278C10.1146 9.82792 8.99588 10.9468 11.0245 12.9755C13.0525 15.0035 14.1714 13.8861 14.1722 13.8853C14.1722 13.8853 14.1722 13.8853 14.1722 13.8853C15.0947 12.9628 16.4714 12.7277 17.5209 13.3134L18.6838 13.9624C20.2686 14.8468 20.4557 17.0692 19.0628 18.4622C18.2258 19.2992 17.2004 19.9505 16.0669 19.9934C15.2529 20.0243 14.1963 19.9541 13 19.6111' stroke='%231C274C' stroke-width='1.5' stroke-linecap='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    --email: url("data:image/svg+xml,%3Csvg width='25px' height='25px' viewBox='0 0 24 24' id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' fill='%23000000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23020202;stroke-miterlimit:10;stroke-width:1.91px;%7D%3C/style%3E%3C/defs%3E%3Ccircle class='cls-1' cx='12' cy='12' r='2.86'%3E%3C/circle%3E%3Cpath class='cls-1' d='M14.86,8.18v6a1.67,1.67,0,0,0,1.67,1.67h0a1.64,1.64,0,0,0,1.48-.9,6.65,6.65,0,0,0,.63-3.67,6.69,6.69,0,1,0-4.23,7'%3E%3C/path%3E%3Crect class='cls-1' x='1.5' y='1.5' width='21' height='21' rx='3.82'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E");
}

.kontakt {
    max-width: 90%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns:  5fr 2fr;
    gap: 2rem;

    @media (width < 800px) {
        display: block;
    }
}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /*margin: 1rem;*/

    @media (min-width: 500px) {

    }

    .name, .contact {
        display: flex;
        flex-wrap: wrap;
    }

    input {
        height: 50px !important;
    }

    ::before {
        position: relative;
        left: .8em;
        display: block;
        font-size: clamp(0.875rem, 0.688rem + 0.75vw, 1.25rem);
        padding-bottom: .2rem;
    }

    .first-name {
        &::before {
            content: 'First name';
        }
    }

    .second-name {
        &::before {
            content: 'Last name';
        }
    }

    .phone-number {
        &::before {
            content: 'Phone number';
        }
    }

    .email {
        &::before {
            content: 'Email';
        }
    }

    .fotoshoot-art {
        &::before {
            content: 'Fotoshooting';
            left: 0 !important;
            margin: auto 1rem auto 0.2rem;
        }
    }

    .message {
        &::before {
            content: 'Message:';
        }
    }

}

.form-control {
    margin: 0 .5rem;
}

.contact-info {
    h2 {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin: 1rem;
    }

    ul {
        border-left: 1px solid rgb(227, 217, 205);;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: clamp(14px, 4vw, 20px);
    }

    .link {
        text-wrap: nowrap;

        &.phone:before,
        &.e-mail:before {
            position: relative;
            bottom: -.5rem;
            margin-right: .5rem;
        }

        &.phone:before {
            content: var(--phone);
        }

        &.e-mail:before {
            content: var(--email);
        }


    }
}

.first-name, .second-name,
.phone-number, .email {
    /*flex: 0 0 auto;*/
    width: 50%;
    height: 77px;
    display: flex;
    flex-direction: column;

    @media (width < 500px) {
        width: 100%;
    }


}

.fotoshoot-art {
    display: flex;
    margin: .5rem;

    select {
        flex: 1;
        height: 50px;
        /*max-width: 250px;*/
        border: 1px solid #bca17f;
        border-radius: 10px;
    }
}

.message {
    width: 100%;
    /*height: 252px;*/
    display: flex;
    flex-direction: column;

    textarea {
        height: 200px;
    }
}

.form-check {
    padding: 0 .5rem;

    label {
        font-size: clamp(14px, 2vmax, 20px);
    }

    .custom-checkbox {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        background: #fff;
        border: 2px solid #7e9bbd;
        border-radius: 4px;
        vertical-align: sub;
        margin-right: 5px;

        &:before {
            content: '';

            display: inline-block;
            height: 13px;
            width: 13px;

            background-image: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 2L4.8125 9L2 5.81818' stroke='%231647ED' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-size: contain;
            background-repeat: no-repeat;

            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0);
            margin-top: 1px;

            transition: 0.2s ease-in;
        }
    }

    .real-checkbox:checked + .custom-checkbox:before {
        transform: translate(-50%, -50%) scale(1);
    }
}


input, textarea, select {
    box-sizing: border-box;
    border-radius: 10px;
    padding: .5rem;
    border: 1px solid #bca17f;
    caret-color: auto;
    font-size: clamp(14px, 2vmax, 20px);

    &:focus {
        border: 2px solid #946b31;
    }
}

.contact-form button {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    height: 50px;
    background-color: rgba(13, 110, 253, 0.75);
    color: whitesmoke;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;

    &:disabled {
        background-color: rgba(13, 110, 253, 0.4);
        pointer-events: none;
    }

    &:hover {
        background-color: rgba(13, 110, 253);
        opacity: 0.9;
        transition: 0.2s;
    }

    &:active {
        scale: 0.98;
    }
}

.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;

    &:focus + .custom-checkbox {
        box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;
    }
}
