:root{
    --heart-pure: url("data:image/svg+xml,%3Csvg height='40px' width='40px' version='1.1' id='_x32_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' xml:space='preserve' fill='%23ffffff' stroke='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ffffff;%7D %3C/style%3E%3Cg%3E%3Cpath class='st0' d='M373.597,29.736c-0.938,0-1.856,0.009-2.795,0.03C313.675,30.864,276.726,59.028,256,93.182 c-20.726-34.154-57.675-62.318-114.802-63.416c-0.928-0.021-1.866-0.03-2.796-0.03c-38.566,0-73.559,15.465-98.518,43.538 C13.797,102.626,0,143.789,0,192.309c0,95.273,76.404,153.378,150.284,209.566c28.513,21.684,57.975,44.098,83.483,68.688 l1.138,1.547c5.062,6.24,12.419,9.904,20.296,10.134l0.8,0.02l0.838-0.02c7.847-0.24,15.186-3.894,20.247-10.114l1.158-1.578 c25.498-24.59,54.97-47.003,83.473-68.678C435.596,345.687,512,287.583,512,192.309C512,96.586,455.083,29.736,373.597,29.736z M371.391,357.748c-37.12,28.952-78.172,57.866-113.654,92.099c-0.689,0.668-1.248,1.238-1.747,1.777 c-0.519-0.549-1.018-1.088-1.726-1.777c-47.303-45.615-104.52-81.895-149.116-121.202c-22.313-19.618-41.412-39.904-54.79-62.088 c-13.378-22.204-21.184-46.164-21.215-74.248c0.02-44.228,12.81-77.493,32.528-99.677c19.757-22.164,46.573-33.705,76.733-33.764 l2.237,0.03c33.775,0.708,57.835,12.67,75.017,29.681c17.132,17.022,27.165,39.556,30.77,60.99 c0.788,4.682,4.821,8.097,9.574,8.097c4.752,0,8.785-3.414,9.574-8.097c3.604-21.434,13.638-43.967,30.77-60.99 c17.181-17.012,41.242-28.973,75.017-29.681l2.236-0.03c30.161,0.059,56.976,11.6,76.735,33.764 c19.717,22.184,32.507,55.449,32.526,99.677c-0.03,28.084-7.837,52.044-21.215,74.248 C441.605,299.833,408.54,328.815,371.391,357.748z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --heart-selected: url("data:image/svg+xml,%3Csvg height='40px' width='40px' version='1.1' id='_x32_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' xml:space='preserve' fill='%23ff8585' stroke='%23ff8585'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ff8585;%7D %3C/style%3E%3Cg%3E%3Cpath class='st0' d='M380.63,32.196C302.639,33.698,264.47,88.893,256,139.075c-8.47-50.182-46.638-105.378-124.63-106.879 C59.462,30.814,0,86.128,0,187.076c0,129.588,146.582,189.45,246.817,286.25c3.489,3.371,2.668,3.284,2.668,3.284 c1.647,2.031,4.014,3.208,6.504,3.208v0.011c0,0,0.006,0,0.011,0c0,0,0.006,0,0.011,0v-0.011c2.489,0,4.856-1.177,6.503-3.208 c0,0-0.821,0.086,2.669-3.284C365.418,376.526,512,316.664,512,187.076C512,86.128,452.538,30.814,380.63,32.196z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


*{
    /*outline: 2px solid red !important;*/
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--adminka-body-color);
    color: rgba(255, 255, 255, 0.71);
}

.main--picture {
    width: 100%;
    height: 100svh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;
}

.proof--project--name {
    position: absolute;
    left: 2rem;
    bottom: 3rem;
    font-size: 46px;
    font-weight: 400;
}

.download {
    height: 50px;
    width: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='64px' height='64px' viewBox='0 0 24.00 24.00' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M13 4H8.8C7.11984 4 6.27976 4 5.63803 4.32698C5.07354 4.6146 4.6146 5.07354 4.32698 5.63803C4 6.27976 4 7.11984 4 8.8V15.2C4 16.8802 4 17.7202 4.32698 18.362C4.6146 18.9265 5.07354 19.3854 5.63803 19.673C6.27976 20 7.11984 20 8.8 20H15.2C16.8802 20 17.7202 20 18.362 19.673C18.9265 19.3854 19.3854 18.9265 19.673 18.362C20 17.7202 20 16.8802 20 15.2V11' stroke='%23ffffff' stroke-width='1.224' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M4 16L8.29289 11.7071C8.68342 11.3166 9.31658 11.3166 9.70711 11.7071L13 15M13 15L15.7929 12.2071C16.1834 11.8166 16.8166 11.8166 17.2071 12.2071L20 15M13 15L15.25 17.25' stroke='%23ffffff' stroke-width='1.224' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M18 3V8M18 8L16 6M18 8L20 6' stroke='%23ffffff' stroke-width='1.224' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 2.5rem;
    right: 2rem;
}

.grid-item {
    position: relative;

    span {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        z-index: 1;
        padding: .5rem;
        background: rgb(0 0 0 / 35%);
        max-width: 50%;
        max-height: 36px;
        font-size: 12pt;
        letter-spacing: 1.5px;
        color: white;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden;
    }

    @media (max-width: 800px) {
        span {
            top: 0.6rem;
            left: 0.6rem;
        }

        .del-img {
            right: 0.6rem;
            top: .6rem;
        }
    }
}

.menu-filter {
    position: sticky;
    bottom: 1rem;
    margin: auto;
    display: flex;
    width: 80%;
    max-width: 400px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.79);
    border-radius: 25px;
    justify-content: space-around;
    align-items: center;
    transition: .8s;
    font-size: calc(10px + 1 * ((100vw - 320px) / 400));
    z-index: 11;
    cursor: pointer;

    &.hidden {
        transform: translateY(100px);
        opacity: 0;
    }

    .all,
    .selected,
    .rejected {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        gap: 0.25rem;
        padding-top: 5px;
        flex: 1;
        transition: 0.15s ease-in-out;

        &:hover{
            position: static;
            transform: scale(1.1);
        }
    }

    i {
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    span {
        letter-spacing: 1.2px;
    }
    
    .active {
        color: lawngreen;
        filter: drop-shadow(0px 0px 10px lawngreen);
    }
}

.proofing--footer {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 1.5rem;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(
            to bottom,
            rgba(60, 60, 60, 0.0),
            rgba(60, 60, 60, 0.75)
    );

    @media (min-width: 321px) and (max-width: 800px) {
        bottom: .6rem;
        padding: 0 .6rem;
    }

    .btn {
        width: 75px;
        box-sizing: border-box;
        margin: .5rem 0;
        /*height: 70px;*/
        background: transparent;
        border-top-left-radius: 10px;

        &.heart--selection {

            &:after {
                content: '';
                display: flex;
                background-image: var(--heart-pure);
                background-repeat: no-repeat;
                background-position: center;
                /*width: 50px;*/
                height: 50px;
            }

            &.selected:after {
                background-image: var(--heart-selected);
            }
        }
    }
}