<div class="wrapper" id='contactMe' _="on click if event.target.closest('.soc-list') is null then remove .show">
  <div class="messanger">
    <div class="message-bubble">
      <p class="sms">Hallöchen.<br>Schreib mir sofort ein Nachricht um den Termin zu reservieren.<br>Gruß, Veronika.</p>
    </div>
    <div class="soc-list">
        <a class="social-btn WA" href='https://wa.me/+4915782025303'> WhatsApp</a>
        <a class="social-btn TE" href='https://t.me/+4915782025303'>Telegram</a>
        <a class="social-btn INST" href='https://www.instagram.com/fotos_baby.de'>Instagram</a>
        <a class="social-btn MAIL" href="mailto:info@fotos-baby.de">E-mail</a>
    </div>
  </div>
</div>