<div class="modal show" id="impressum" tabindex="-1" aria-labelledby="ImpressumLabel" aria-hidden="true"
     _="on click if event.target.closest('.modal-content') is null then transition opacity to 0 over 300ms then remove me">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" aria-labelledby="close button"><i
                        class="fa-solid fa-xmark fa-xl"
                        _="on click transition .modal's opacity to 0 over 300ms then remove #impressum"></i></button>
                <img src="{{ url_for('static', filename='img/logo_new.svg') }}" alt="Burenina Veronika"
                     loading="lazy">
            </div>

            <div class="modal-body">Veronika Burenina<br> Cappanstraße 8<br> 78224 Singen (Hohentwiel)<br>
                Deutschland<br> <br>
                Tel.: +4915782025303<br> E-Mail: bureninaveronika@gmail.com<br> <br> USt. wird nicht ausgewiesen
                (Kleinunternehmerregelung)<br> <br> Plattform der EU-Kommission zur Online-Streitbeilegung: <a
                        target="_blank" href="https://ec.europa.eu/odr">https://ec.europa.eu/odr</a><br> <br> Wir sind
                zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle weder
                verpflichtet noch bereit.<br> <br> Mitglied der Initiative "Fairness im Handel".<br> Nähere
                Informationen: <a target="_blank" href="https://www.fairness-im-handel.de">https://www.fairness-im-handel.de</a>
            </div>

        </div>
    </div>
</div>
