<div class="modal show" id="success" tabindex="-1" aria-labelledby="success Window"
     _="on click if event.target.closest('.modal-content') is null then transition opacity to 0 over 300ms then remove me">
    <div class="modal-dialog"
            {#         hx-delete="/{{ action }}/{{ client.id }}/"#}
            {#         hx-on::after-request="#}
            {#         const status = event.detail.xhr.getResponseHeader('X-Success')#}
            {#         if (status=='success') {document.querySelector('.kunden-table[data-clientid=&quot;{{ client.id }}&quot;]').remove();#}
            {#         document.getElementById('success').remove()}"#}
            {#         hx-trigger="click from:.button-positive"#}
            {#         hx-target="body" hx-swap="beforeend"#}
    >
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa-regular fa-trash-can" aria-hidden="true"></i>
            </div>
            <div class="modal-body">
                {% if text %}
                    <p>{{ text }} {{ client.name }}</p>
                {% else %}
                    Здесь надо прописать нужный HEADER
                {% endif %}            </div>
            <div class="modal-footer">
                <button class="button button-negative" data-role="deny" type="button" aria-label="cancel"
                        _="on click event.target.closest('.modal-content') transition opacity to 0 over 300ms then remove #success">
                    <i class="fa-solid fa-xmark"></i> Отмена
                </button>
                <button class="button button-positive" data-role="confirm" type="button" aria-label="submit"
                        hx-delete="/adminka/"
                        hx-vals='{"action_type": "clearFotoList", "id": {{ client.id }} }'
                        hx-trigger="click"
                        hx-target="body"
                        hx-swap="beforeend"
                        hx-on::after-request="
                                 const status = event.detail.xhr.getResponseHeader('X-Success')
                                 if (status=='success') {document.querySelector('.kunden-table[data-clientid=&quot;{{ client.id }}&quot;] > div.fotos-list.table-block > span').textContent='';
                                 document.getElementById('success').remove()}">
                    Очистить список фото.
                </button>
                <button class="button button-positive" data-role="confirm" type="button" aria-label="submit"
                        hx-delete="/adminka/"
                        hx-vals='{"action_type": "delProject", "id": {{ client.id }} }'
                        hx-trigger="click"
                        hx-target="body"
                        hx-swap="beforeend"
                        hx-on::after-request="
                                 const status = event.detail.xhr.getResponseHeader('X-Success')
                                 if (status=='success') {document.querySelector('.kunden-table[data-clientid=&quot;{{ client.id }}&quot;]').remove();
                                 document.getElementById('success').remove()}">
                    Удалить проект целиком.
                </button>
            </div>
        </div>
    </div>
</div>
