<div class="alert-wrapper" id="alert"
     _="on click if event.target.closest('.alert') is null then transition opacity to 0 over 150ms then remove me">
    <div class="alert {{ status }}"><p class="text-alert">{{ text }}</p>
        <button class="ok" _="on click transition #alert's opacity to 0 over 150ms then remove #alert">OK</button>
    </div>

    <script>
        if (!alert) {
            const alert = document.getElementById('alert')
            _hyperscript.processNode(alert)
        }
    </script>
</div>