<footer>
    <section class="footer">

        <div class="insta-footer">
            <p class=""><img src="{{ url_for('static', filename='img/follow_us.svg') }}"
                             alt="instagram fotos_baby.de" width="160" height="50" class="responsive-img"
                             loading="lazy">
            </p>


            <div id="instafeed" class="row border-bottom pb-2"></div>
        </div>

        <div class="about-footer">

            <img data-src="{{ url_for('static', filename='img/portr2.avif') }}"
                 src="{{ url_for('static', filename='img/portr2_blur.webp') }}" alt="Burenina Veronika"
                 width="180" height="180"
                 class="rounded blur-image" style="max-height: 180px; background-color: transparent !important;"
                 loading="lazy">

            <p class="">Ich heiße Veronika. In meinem Studio mit absoluter Wohlfühlatmosphäre mache ich Baby
                Shootings.
                Mein Studio ist speziell für die Neugeborenen– und Kinderfotografie ausgerichtet.
                Kostüme und Dekoration werden von mir gestellt.</p>
        </div>


        <div class="impressum-footer">
            © BURENINA VERONIKA - Baby, Babybauch und Kinder Fotografie&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="#" hx-get="/impressum/" hx-target="body" hx-swap="beforeend">IMPRESSUM</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a class="link" href="/datenschutz" style="color: black; font-weight: bold;">DATENSCHUTZERKLÄRUNG</a>
        </div>
    </section>

    {% block footer %} {% endblock %}
</footer>

<!-----------------Contact INFO button------------------------------>

<button class="contact-btn" aria-labelledby="Contact Me Button" aria-label="Contact me"
        _="on click toggle .show on .wrapper">
</button>




<!-- Модальное окно -->
{% include 'modals/contact_me.html' %} <!-- Включение файла с footer -->


{#<script src="https://kit.fontawesome.com/4fa870037a.js" crossorigin="anonymous" async></script>#}
{#  <script src="https://unpkg.com/htmx.org@2.0.0"></script>#}
{#<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>#}
<script src="{{ url_for('static', filename='js/custom.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/extern/_hyperscript.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/extern/htmx.min.js' ) }}"></script>

{#<script src="{{ url_for('static', filename='js/navbar.js' ) }}" defer></script>#}
{#    <script src="{{ url_for('static', filename='js/modal.js' ) }}" defer></script>#}