<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="robots" content="index, follow">
<meta name="keywords" lang="de"
      content="Neugeborene, Baby, Baby-Fotografie, Baby-Fotos, Kinderfotos, Kinderfotografie, Kleinkinderfotos, Kleinkindfotografie, Kleinkinderfotografie, Fotograf am Bodensee, Newborn Fotograf in Villingen, Baby Fotogarafie Schaffhausen, Fotostudio, Fotograf, Radolfzell, Bodensee, Umgebung, westlicher Bodensee">
<meta name="keywords" lang="en"
      content="Newborns, Baby, Baby Photography, Baby Photos, Children Photos, Children Photography, Toddler Photos, Toddler Photography, Photographer at Lake Constance, Newborn Photographer in Villingen, Baby Photography Schaffhausen, Photo Studio, Photographer, Radolfzell, Lake Constance, Surroundings, Western Lake Constance">


<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#434343">

{#<link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">#}
{#<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">#}
{#<link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet">#}
{#<link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet">#}
{#<link href="{{ url_for('static', filename='css/modal.css') }}" rel="stylesheet">#}

    {% assets "css_all" %}
        <link href="{{ ASSET_URL }}" type="text/css" rel="stylesheet">
{#        <link href="../static/css/styles.css.br" type="text/css" rel="stylesheet">+#}
    {% endassets %}
