<div class="mobile header-style">
    <div class="logo" _="on click go to url /" ></div>

    <button class="hamb" id="hamburger" data-bs-toggle="collapse"
            aria-labelledby="mobile menu button" aria-label="mobile menu"
            aria-controls="navbar"
            _="on click toggle .transform on .line toggle .overhide on body toggle .show on .navbar">
        <div class="line up"></div>
        <div class="line mid"></div>
        <div class="line down"></div>
    </button>
</div>

