<nav class="navbar" id="navbar"
     _="on click if event.target.closest('.navbar-style') is null then toggle .show on me toggle .transform on .line toggle .overhide on body">
    <ul class="navbar-style">
        <li class="nav-item">
            <a class="nav-link" href="/"><span>HOME</span></a>
        </li>
        <li class="nav-item dropdown" _="on click if event.target.closest('.dropdown') or event.target.closest('#navbarDropdown') toggle .show on .dropdown-menu
                                                  toggle .extended on me">
            <a class="nav-link" href="#" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false"><span>PORTFOLIO</span></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/portfolio-newborn/"><span>Newborn</span></a></li>
                <li><a class="dropdown-item" href="/portfolio-babybauch/"><span>Babybauch</span></a></li>
                <li><a class="dropdown-item" href="/portfolio-baby/"><span>Baby und Kleinkinder</span></a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/preise/"><span>PREISE</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/kontakt/"><span>KONTAKT</span></a>
        </li>
        <li class="nav-item login-navbar">
            <a class="" href="/login/" id="LoginBtn"><span>Login</span></a>
        </li>
    </ul>

    <div class="impressum-footer mobile">
        © BURENINA VERONIKA - Baby, Babybauch und Kinder Fotografie&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#" hx-get="/impressum/" hx-target="body" hx-swap="beforeend" style="display: inline">IMPRESSUM</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a class="link" href="/datenschutz" style="display: inline">DATENSCHUTZERKLÄRUNG</a>
    </div>
</nav>
