<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Client test page</title>

    {% include 'hilfsportal/head.html' %}

    <link href="{{ url_for('static', filename='libs/PhotoSwipe/photoswipe.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/alert.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/proofing.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/portfolio.css') }}" rel="stylesheet">

</head>
{% include 'hilfsportal/tag_manager.html' %}

<body>

<section>
    <div class="main--picture" style="background-image: url('/static/media/clients/{{ projectName }}/{{ picture }}');"></div>
    <span class="proof--project--name">{{ projectName }}</span>
    <a class="download"></a>
</section>

<section class="grid masonry" id="gallery">
    {{ gallery|safe }}
</section>

<div class="menu-filter hidden">
    <div class="filter--item all active" data-filter="*" _="on click remove .active from .filter--item add .active to me">
        <i class="fa-brands fa-slack fa-xl"></i>
        <span>ALL</span>
    </div>
    <div class="filter--item  selected" data-filter=".selected" _="on click remove .active from .filter--item add .active to me">
        <i class="fa-regular fa-heart fa-xl"></i>
        <span>Selected</span>
    </div>
    <div class="filter--item  rejected" data-filter=".rejected" _="on click remove .active from .filter--item add .active to me">
        <i class="fa-solid fa-ban fa-xl"></i>
        <span>Rejected</span>
    </div>
</div>

<footer>

    <script src="{{ url_for('static', filename='js/extern/_hyperscript.min.js' ) }}" defer></script>
    <script src="{{ url_for('static', filename='js/extern/htmx.min.js' ) }}" defer></script>

    <script src="{{ url_for('static', filename='js/custom.js' ) }}" defer></script>
{#    <script src="{{ url_for('static', filename='libs/Isotope/isotope.pkgd.min.js' ) }}" defer></script>#}
    <script type="module" src="{{ url_for('static', filename='js/portfolio.js' ) }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='js/proofing-gallery.js' ) }}" defer></script>
    <script async="" src="https://kit.fontawesome.com/4fa870037a.js" crossorigin="anonymous"></script>
</footer>

</body>
</html>