<!DOCTYPE html>
<html lang="de-DE">
<head>
    <title>Datenschutz Burenina Veronika</title>
    <meta name="description"
          content="Neugeborenen, Babybauch und Baby Fotoshooting in meinem Homestudio mit absoluter Wohlfühlatmosphäre.">

    {% include 'hilfsportal/head.html' %}
    <link href="{{ url_for('static', filename='css/datenschutz.css') }}" rel="stylesheet">

</head>
{% include 'hilfsportal/tag_manager.html' %}

<body>
<header>

    {% include 'hilfsportal/mobile_header.html' %}

    <div class="logo header-logo desktop" _="on click go to url /" ></div>

    {% include 'hilfsportal/navbar.html' %}
    <hr class="desktop">
</header>

<section class="datenschutz" id="datenschutz">
    <h1>Datenschutzerklaerung</h1>

    {{ text | safe }}

    <div class="datenschutz-footer">
        <img src="https://www.it-recht-kanzlei.de/logo/Copyright-Logo_Datenschutzerklaerung.png?i=397d8-1ff5a-39c8-907e-1"
             id="itkanzlei_img_copyright" alt="© IT-Recht Kanzlei" title="© IT-Recht Kanzlei">
        <span>{{ date }}</span>
    </div>


</section>

<button class="up-to-top" aria-labelledby="" aria-label="" _="on click go to the top of the body smoothly"></button>

{% include 'hilfsportal/footer.html' %}
{#<script type="module" src="{{ url_for('static', filename='js/datenschutz.js' ) }}" defer></script>#}


</body>
</html>

