<!DOCTYPE html>
<html lang="de-DE">
<head>
    <title>Login Client portal Burenina Veronika</title>
    <meta name="description"
          content="Neugeborenen, Babybauch und Baby Fotoshooting in meinem Homestudio mit absoluter Wohlfühlatmosphäre.">

    {% include 'hilfsportal/head.html' %}
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">

</head>
{% include 'hilfsportal/tag_manager.html' %}

<body>
<header>

    {% include 'hilfsportal/mobile_header.html' %}

    <div class="logo header-logo desktop" _="on click go to url /" ></div>

    {% include 'hilfsportal/navbar.html' %}
    <hr class="desktop">
</header>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashes">
            {% for category, message in messages %}
                <span class="flash_message {{ category }}">{{ message }}</span>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<section class="login" id="login">

    <div class="login-wrapper">
        <div class="login-info desktop">
            <h2> Kunden Information</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi aperiam architecto, asperiores
                esse est neque odio omnis quibusdam totam! Accusantium adipisci assumenda distinctio ducimus, eum
                eveniet in labore, molestiae, necessitatibus nihil nobis officia quae quis ratione repellat similique
                voluptas.</p>
            <div class=""></div>
        </div>

        <form class="login-form" action="#" name="ClientLoginForm" id="LoginFormPage" method=POST>
            <h2>ANMELDUNG</h2>
            <div class="input-box login">
                <input name='login' id='login_page' type="text" autocomplete="username" placeholder="Login" required>
            </div>
            <div class="input-box password">
                <input name='password' id='password_page' type="password" autocomplete="current-password"
                       placeholder="Password" required>
            </div>
            <button type="submit" class="login-submit-btn">LOGIN</button>
        </form>
    </div>
</section>

{% include 'hilfsportal/footer.html' %}
{#<script type="module" src="{{ url_for('static', filename='js/login.js' ) }}" defer></script>#}

</body>
</html>

