<!DOCTYPE html>
<html lang="de-DE">
<head>
    <title>Admin panel Burenina Veronika</title>
    <meta name="description"
          content="Neugeborenen, Babybauch und Baby Fotoshooting in meinem Homestudio mit absoluter Wohlfühlatmosphäre.">

    {% include 'hilfsportal/head.html' %}
    <link href="{{ url_for('static', filename='css/project.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/alert.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/upload.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/portfolio.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='libs/PhotoSwipe/photoswipe.css') }}" rel="stylesheet">
</head>
{% include 'hilfsportal/tag_manager.html' %}

<body>
<header class="project-header">
    <div class="project-name" onclick="window.location.href = window.location.origin + '/adminka/'">
        {{ projectName }}
    </div>

    <span class="material-symbols-outlined"></span>


    <button class="btn add-fotos flex-center" data-target="#modal-success" _="on click toggle .show on #uploadWindow">
        <span class="desktop">Добавить фото</span>
        <span class="mobile add-pictures"></span>
    </button>
    <a class="btn flex-center" id="ViewOnSite" onclick="window.location.href = window.location.origin + '/client-gallery/{{ projectName }}'">
        <span class="desktop">Перейти к проекту</span>
        <span class="mobile view-project"></span>
    </a>
    <button class="btn clear-all flex-center">
        <span class="desktop">Очистить галерею</span>
        <span class="mobile clear-project-gallery"></span>
    </button>
</header>

<section class="wrapper" id="uploadWindow" data-projectName="{{ projectName }}"
         _="on click if event.target.closest('.container') is null then toggle .show on me then remove <li.complete/> then remove .show from .list-section">
    <div class="container">
        <div class="header-section">
            <h1>Загрузка фотографий</h1>
            <p>Заагрузка фотографий для данного проекта.</p>
            <p>PDF, Images</p>
        </div>
        <div class="drop-section">
            <div class="col">
                <div class="cloud-icon">
                    <svg width="64px" height="64px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"
                         fill="#000000">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path fill="#94cbff"
                                  d="M544 864V672h128L512 480 352 672h128v192H320v-1.6c-5.376.32-10.496 1.6-16 1.6A240 240 0 0 1 64 624c0-123.136 93.12-223.488 212.608-237.248A239.808 239.808 0 0 1 512 192a239.872 239.872 0 0 1 235.456 194.752c119.488 13.76 212.48 114.112 212.48 237.248a240 240 0 0 1-240 240c-5.376 0-10.56-1.28-16-1.6v1.6H544z"></path>
                        </g>
                    </svg>
                </div>
                <spna>Перетащи фотографии сюда</spna>
                <spna>ИЛИ</spna>
                <button class="file-selector">Выбрать фото</button>
                <input type="file" class="file-selector-input" multiple>
            </div>
            <div class="col">
                <div class="drop-here">Брось здесь.</div>
            </div>
        </div>
        <div class="list-section">
            <div class="list-title">Загруженные фото.</div>
            <ul class="list"></ul>
        </div>
    </div>
</section>

<div class="blank show" _="on load if next <div.grid-item.item/> then toggle .show on me">
    <h1 style="font-size: 16pt; color: #00a3ff">В этом проекте пока нет фотографий</h1>
    <span>Наполните его вашими работами</span>
</div>

<section class="grid masonry" id="gallery">
    <div class="grid-sizer"></div>
    {{ gallery|safe }}
</section>


<footer>

    <script src="{{ url_for('static', filename='js/extern/_hyperscript.min.js' ) }}" defer></script>
    <script src="{{ url_for('static', filename='js/extern/htmx.min.js' ) }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='js/upload.js' ) }}" async></script>

    <script src="{{ url_for('static', filename='js/custom.js' ) }}" defer></script>
    <script src="{{ url_for('static', filename='libs/Isotope/isotope.pkgd.min.js' ) }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='js/portfolio.js' ) }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='js/admin_project.js' ) }}" defer></script>

</footer>

</body>
</html>
